/*colores*/
$colorweb: #0072AC;
$colorhover: #434343;
$colortext: #434343;
/*fuentes*/
$OpenSans : 'Open Sans', sans-serif;

/*variable que uza Benja*/
$modal-icons : 'modal-icons';
$properties-icons : 'properties-icons';