/*colores*/
$colorweb: #7bafe1;
$colorhover: #434343;
$colortext: #434343;
/*fuentes*/
$OpenSans : 'Open Sans', sans-serif;

/*variable que uza Benja*/
$modal-icons : 'modal-icons';
$properties-icons : 'properties-icons';


$Myriad : 'Myriad Pro', sans-serif;
$MyriadSemiBold : 'Myriad Pro Semibold', sans-serif;
$Times : 'Times New Roman', sans-serif;
$TimesBold : 'Times New Roman Bold', sans-serif;