doctype html
html(lang='en')
	head
	title Contact | Master Elite 2017
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
	//meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no") // analizar lo de 'user-scalable=no'
	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="apple-mobile-web-app-status-bar-style", content="#0073AC")
	meta(name="theme-color", content="#0073AC")
	meta(name="msapplication-navbutton-color", content="#0073AC")
	link(rel="stylesheet", href="../css/main.css")
	link(rel="stylesheet", href="https://file.myfontastic.com/v6vr22zQVKSnTWTxBBpbWC/icons.css")
	body.property-details
		include ../header.jade

		.gwr
			article
				h1 Contact
				ul   
					li PH : a(href="tel:305 912 64 90", title="Call 305 912 64 90") 305 912 64 90
					li a(href="mailto:info@tremgroup.com") info@tremgroup.com
					li 40 SW 13th St #202, Miami, FL 33130
					li a(href="https://maps.google.com/maps", target="_blank", title="Get Directions") Get Directions

			//
				<div class="cGForm">
				    <h2 class="gtitle">CONTACT US BY EMAIL</h2>
				    <div class="gf_browser_chrome gform_wrapper fieldform_wrapper" id="gform_wrapper_3">
				        <a id="gf_3" class="gform_anchor"></a>
				        <form method="post" enctype="multipart/form-data" target="gform_ajax_frame_3" id="gform_3" class="fieldform" action="/contact/#gf_3">
				            <div class="gform_body">
				                <ul id="gform_fields_3" class="gform_fields top_label form_sublabel_below description_below">
				                    <li id="field_3_1" class="gfield contact_field gfield_contains_required field_sublabel_below field_description_below">
				                        <label class="gfield_label" for="input_3_1">First Name<span class="gfield_required">*</span></label>
				                        <div class="ginput_container ginput_container_text"><input name="input_1" id="input_3_1" type="text" value="" class="medium" tabindex="12" aria-required="true" aria-invalid="false" required="required"></div>
				                    </li>
				                    <li id="field_3_2" class="gfield contact_field contact_center gfield_contains_required field_sublabel_below field_description_below">
				                        <label class="gfield_label" for="input_3_2">Last Name<span class="gfield_required">*</span></label>
				                        <div class="ginput_container ginput_container_text"><input name="input_2" id="input_3_2" type="text" value="" class="medium" tabindex="13" aria-required="true" aria-invalid="false" required="required"></div>
				                    </li>
				                    <li id="field_3_4" class="gfield contact_field gfield_contains_required field_sublabel_below field_description_below">
				                        <label class="gfield_label" for="input_3_4">Email<span class="gfield_required">*</span></label>
				                        <div class="ginput_container ginput_container_email">
				                            <input name="input_4" id="input_3_4" type="email" value="" class="medium" tabindex="14" required="required">
				                        </div>
				                    </li>
				                    <li id="field_3_3" class="gfield contact_field contact_center gfield_contains_required field_sublabel_below field_description_below">
				                        <label class="gfield_label" for="input_3_3">Phone<span class="gfield_required">*</span></label>
				                        <div class="ginput_container ginput_container_text"><input name="input_3" id="input_3_3" type="text" value="" class="medium" tabindex="15" aria-required="true" aria-invalid="false" required="required"></div>
				                    </li>
				                    <li id="field_3_12" class="gfield contact_sell field_sublabel_below field_description_below">
				                        <label class="gfield_label" for="input_3_12">Planning On Selling/Buying</label>
				                        <div class="ginput_container ginput_container_select">
				                            <select name="input_12" id="input_3_12" class="medium gfield_select" tabindex="16" aria-invalid="false">
				                                <option value="Buying" selected="selected">Buying</option>
				                                <option value="Selling">Selling</option>
				                            </select>
				                        </div>
				                    </li>
				                    <li id="field_3_5" class="gfield contact_area field_sublabel_below field_description_below">
				                        <label class="gfield_label" for="input_3_5">Your Message</label>
				                        <div class="ginput_container"><textarea name="input_5" id="input_3_5" class="textarea medium" tabindex="17" aria-invalid="false" rows="10" cols="50"></textarea></div>
				                    </li>
				                    <li id="field_3_8" class="gfield contact_reach ct-cont field_sublabel_below field_description_below">
				                        <label class="gfield_label">Best Time to Reach You</label>
				                        <div class="ginput_container ginput_container_checkbox">
				                            <ul class="gfield_checkbox" id="input_3_8">
				                                <li class="gchoice_3_8_1">
				                                    <input name="input_8.1" type="checkbox" value="AM" id="choice_3_8_1" tabindex="18">
				                                    <label for="choice_3_8_1" id="label_3_8_1">AM</label>
				                                </li>
				                                <li class="gchoice_3_8_2">
				                                    <input name="input_8.2" type="checkbox" value="PM" id="choice_3_8_2" tabindex="19">
				                                    <label for="choice_3_8_2" id="label_3_8_2">PM</label>
				                                </li>
				                            </ul>
				                        </div>
				                    </li>
				                    <li id="field_3_11" class="gfield contact_boletin ct-cont field_sublabel_below field_description_below">
				                        <label class="gfield_label">Receive Newsletter</label>
				                        <div class="ginput_container ginput_container_checkbox">
				                            <ul class="gfield_checkbox" id="input_3_11">
				                                <li class="gchoice_3_11_1">
				                                    <input name="input_11.1" type="checkbox" value="I would like to receive Newsletter communications" id="choice_3_11_1" tabindex="20">
				                                    <label for="choice_3_11_1" id="label_3_11_1">I would like to receive Newsletter communications</label>
				                                </li>
				                            </ul>
				                        </div>
				                    </li>
				                    <li id="field_3_9" class="gfield contact_politics ct-cont gfield_html gfield_html_formatted gfield_no_follows_desc field_sublabel_below field_description_below">We will never give your email address to any third-parties or relentlessly spams.</li>
				                    <li id="field_3_17" class="gfield field_sublabel_below field_description_below">
				                        <label class="gfield_label" for="input_3_17"></label>
				                        <div class="ginput_container">
				                            <div class="g-recaptcha" data-sitekey="6LcFqg8UAAAAALNNpkznEr7NpEnyrNSQ6a-8X9J5" data-theme="light" data-size="normal">
				                                <div style="width: 304px; height: 78px;">
				                                    <div><iframe src="https://www.google.com/recaptcha/api2/anchor?k=6LcFqg8UAAAAALNNpkznEr7NpEnyrNSQ6a-8X9J5&amp;co=aHR0cHM6Ly93d3cuZ3BnbWlhbWkubmV0OjQ0Mw..&amp;hl=es&amp;v=r20170503135251&amp;theme=light&amp;size=normal&amp;cb=y8zv8ewxgi4w" title="widget del recaptcha" width="304" height="78" frameborder="0" scrolling="no" name="undefined"></iframe></div>
				                                    <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea>
				                                </div>
				                            </div>
				                        </div>
				                    </li>
				                    <li id="field_3_13" class="gfield gform_hidden field_sublabel_below field_description_below"><input name="input_13" id="input_3_13" type="hidden" class="gform_hidden" aria-invalid="false" value="2017"></li>
				                    <li id="field_3_14" class="gfield gform_hidden field_sublabel_below field_description_below"><input name="input_14" id="input_3_14" type="hidden" class="gform_hidden" aria-invalid="false" value="GP GROUP"></li>
				                    <li id="field_3_15" class="gfield gform_hidden field_sublabel_below field_description_below"><input name="input_15" id="input_3_15" type="hidden" class="gform_hidden" aria-invalid="false" value="https://www.gpgmiami.net/wp-content/themes/elite/images/email/"></li>
				                    <li id="field_3_16" class="gfield gform_hidden field_sublabel_below field_description_below"><input name="input_16" id="input_3_16" type="hidden" class="gform_hidden" aria-invalid="false" value="https://www.gpgmiami.net"></li>
				                    <li id="field_3_18" class="gfield gform_validation_container field_sublabel_below field_description_below">
				                        <label class="gfield_label" for="input_3_18">Comments</label>
				                        <div class="ginput_container"><input name="input_18" id="input_3_18" type="text" value="" autocomplete="off"></div>
				                        <div class="gfield_description">This field is for validation purposes and should be left unchanged.</div>
				                    </li>
				                </ul>
				            </div>
				            <div class="gform_footer top_label"> <input type="submit" id="gform_submit_button_3" class="gform_button button" value="Submit" tabindex="21" onclick="if(window[&quot;gf_submitting_3&quot;]){return false;}  if( !jQuery(&quot;#gform_3&quot;)[0].checkValidity || jQuery(&quot;#gform_3&quot;)[0].checkValidity()){window[&quot;gf_submitting_3&quot;]=true;}  " onkeypress="if( event.keyCode == 13 ){ if(window[&quot;gf_submitting_3&quot;]){return false;} if( !jQuery(&quot;#gform_3&quot;)[0].checkValidity || jQuery(&quot;#gform_3&quot;)[0].checkValidity()){window[&quot;gf_submitting_3&quot;]=true;}  jQuery(&quot;#gform_3&quot;).trigger(&quot;submit&quot;,[true]); }"> <input type="hidden" name="gform_ajax" value="form_id=3&amp;title=&amp;description=&amp;tabindex=1">
				                <input type="hidden" class="gform_hidden" name="is_submit_3" value="1">
				                <input type="hidden" class="gform_hidden" name="gform_submit" value="3">
				                <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
				                <input type="hidden" class="gform_hidden" name="state_3" value="WyJbXSIsIjVlZmIzYzQwZDI2NTI4OGU5YmZkZDM0YzkwM2NkNWZlIl0=">
				                <input type="hidden" class="gform_hidden" name="gform_target_page_number_3" id="gform_target_page_number_3" value="0">
				                <input type="hidden" class="gform_hidden" name="gform_source_page_number_3" id="gform_source_page_number_3" value="1">
				                <input type="hidden" name="gform_field_values" value="">
				            </div>
				        </form>
				    </div>
				    <iframe style="display:none;width:0px;height:0px;" src="about:blank" name="gform_ajax_frame_3" id="gform_ajax_frame_3" title="Ajax Frame">This iframe contains the logic required to handle AJAX powered Gravity Forms.</iframe>
				    <script type="text/javascript">jQuery(document).ready(function($){gformInitSpinner( 3, 'https://www.gpgmiami.net/wp-content/plugins/gravityforms/images/spinner.gif' );jQuery('#gform_ajax_frame_3').load( function(){var contents = jQuery(this).contents().find('*').html();var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0;if(!is_postback){return;}var form_content = jQuery(this).contents().find('#gform_wrapper_3');var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_3').length > 0;var is_redirect = contents.indexOf('gformRedirect(){') >= 0;var is_form = form_content.length > 0 && ! is_redirect && ! is_confirmation;if(is_form){jQuery('#gform_wrapper_3').html(form_content.html());if(form_content.hasClass('gform_validation_error')){jQuery('#gform_wrapper_3').addClass('gform_validation_error');} else {jQuery('#gform_wrapper_3').removeClass('gform_validation_error');}setTimeout( function() { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_3').offset().top); }, 50 );if(window['gformInitDatepicker']) {gformInitDatepicker();}if(window['gformInitPriceFields']) {gformInitPriceFields();}var current_page = jQuery('#gform_source_page_number_3').val();gformInitSpinner( 3, 'https://www.gpgmiami.net/wp-content/plugins/gravityforms/images/spinner.gif' );jQuery(document).trigger('gform_page_loaded', [3, current_page]);window['gf_submitting_3'] = false;}else if(!is_redirect){var confirmation_content = jQuery(this).contents().find('#gforms_confirmation_message_3').html();if(!confirmation_content){confirmation_content = contents;}setTimeout(function(){jQuery('#gform_wrapper_3').replaceWith('<' + 'div id=\'gforms_confirmation_message_3\' class=\'gform_confirmation_message_3 gforms_confirmation_message\'' + '>' + confirmation_content + '<' + '/div' + '>');jQuery(document).scrollTop(jQuery('#gforms_confirmation_message_3').offset().top);jQuery(document).trigger('gform_confirmation_loaded', [3]);window['gf_submitting_3'] = false;}, 50);}else{jQuery('#gform_3').append(contents);if(window['gformRedirect']) {gformRedirect();}}jQuery(document).trigger('gform_post_render', [3, current_page]);} );} );</script><script type="text/javascript"> if(typeof gf_global == 'undefined') var gf_global = {"gf_currency_config":{"name":"U.S. Dollar","symbol_left":"$","symbol_right":"","symbol_padding":"","thousand_separator":",","decimal_separator":".","decimals":2},"base_url":"https:\/\/www.gpgmiami.net\/wp-content\/plugins\/gravityforms","number_formats":[],"spinnerUrl":"https:\/\/www.gpgmiami.net\/wp-content\/plugins\/gravityforms\/images\/spinner.gif"};jQuery(document).bind('gform_post_render', function(event, formId, currentPage){if(formId == 3) {} } );jQuery(document).bind('gform_post_conditional_logic', function(event, formId, fields, isInit){} );</script><script type="text/javascript"> jQuery(document).ready(function(){jQuery(document).trigger('gform_post_render', [3, 1]) } ); </script> 
				</div>
		
		include ../footer.jade
		script(type="text/javascript", src="../js/jquery-3.1.1.min.js")
		script(type="text/javascript", src="../js/plugins/perfect-scrollbar.jquery.min.js")
		script(type="text/javascript", src="../js/plugins/jquery-ui.min.js")
		script(type="text/javascript", src="../js/plugins/jquery.ui.touch-punch.min.js")
		script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbcWAf3LnqNPxdZ5TP5resRxl3I3BPZb8&#038")
		script(type="text/javascript", src="../js/dgt-master.min.js")
		script(type="text/javascript", src="../js/plugins/properties-js.js")